<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/admin_panel_main.css">
    <script src="scripts/redirectFromAdmin.js" defer></script>
    <title>AdminPanel</title>
</head>
<body>
          <div class="landing-page-content-wrapper">
              
              <button class="form-button edit-products-button">Towary</button>

              <button class="form-button users-table-button" >Użytkownicy</button>

              <button class="form-button orders-button">Zamówienia</button>
              
            </div>
</body>
</html>