<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zielona Roślinka</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Merienda:wght@400;700&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/cart.css">
</head>
<body>
    <% let priceSum = 0 %>
    <h1>Koszyk</h1>
    <div class="container">
        <div class="cart-content">
            <div class="table-desc fst">
                <div class="elem-name fst">Nazwa</div>
                <div class="elem-desc fst">Opis</div>
                <div class="elem-price fst">Cena</div>
            </div>
            <% locals.items.forEach(element => {%>
                <%priceSum += Number(element.productPrice)%>
                 
                <div class="cart-item">
                    <div class="elem-name"><%= element.productName %></div>
                    <div class="elem-desc"><%= element.productDescription %></div>
                    <div class="elem-price"><%= element.productPrice %></div>
                </div>
            <% }); %>
        <div class="summary">W sumie do zapłaty: <%= priceSum %></div>
        <form action="/cart" method="POST"><button class="form-button">Zapłać</button></form>
        </div>
    </div>    
</body>
</html>