<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>Zielona Roślinka</title>
</head>
<body>
    <div class="landing-page-container">
        <div class="landing-page-img"></div>
        <div class="landing-page-content">
          <div class="landing-page-content-wrapper">
              <h1>Witaj w sklepie Zielona Roślinka</h1>

              <form action="/login" method="GET">
                  <button class="form-button" type="submit">Zaloguj się</button>
              </form>

              <form action="/register" method="GET">
                  <button class="form-button" >Zarejestruj się</button>
              </form>

              <form action="/products" method="GET">
                  <button class="form-button">Katalog</button>
              </form>
            </div>
        </div>
    </div>
</body>
</html>