<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/products.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Merienda:wght@400;700&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="scripts/addToCart.js" defer></script>
    <title>Product Tiles</title>
</head>
<body>

    <div class="custom-alert">Dodano produkt do koszyka</div>

    <div class="container">
        <div class="top-bar">
            <div class="logo">Zielona roślinka</div>
            <form class="search-bar" action="#" method="POST">
                <input type="text" id="query" name="query" placeholder="Szukaj...">
                <button type="submit">Wyszukaj</button>
            </form>
            <div class="user-actions">
                <button>Login</button>
                <button>Register</button>
            </div>
            <div class="cart">
                <button>
                <i class="fa fa-shopping-cart" style="font-size:36px"></i>
                </button>
            </div>
        </div>

        
        <div class="tiles-container">
            <% items = locals.data %>
            <% for (let item in items) { %>


                <div class="wrapper">
                    <div class="product-img">
                      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
                    </div>
                    <div class="product-info">
                      <div class="product-text">
                        <h1><%= data[item].name %></h1>
                        <p><%= data[item].description %></p>
                      </div>
                      <div class="product-price-btn">
                        <p><span><%= data[item].price %></span>zł</p>
                        <button class="save-button" product-id="<%= data[item].id %>">Dodaj do koszyka</button>
                      </div>
                    </div>
                  </div>
            <% } %>
        </div>
    </div>
</body>
</html>
