body{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}


.landing-page-content-wrapper{
    width: 500px;
    background-color: white;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}