body {
    align-items: center;
    height: 100vh;
    background-color: #fdf1ec;
    margin: 0;
}

h1 {
    width: 100%;
    color: #474747;
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.cart-content {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    width: 500px;
    height: auto;
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}


.table-desc {
    width: 500px;
    height: auto;
    margin: 5px;
    background-color: #fdf1ec;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary {
    width: 500px;
    height: auto;
    margin-top: 50px;
    background-color: #fdf1ec;
}

.fst {
    height: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

.elem-desc {
    font-family: 'Playfair Display', serif;
}

.elem-name{
    font-weight: bold;
    font-family: 'Bentham', serif;
}